a[href="ekspedisi hity.html"]{
  color:white;
  font-size: 22px;
  text-decoration: none;
  margin-left: 200px;
  
}
#a:hover{
  color:skyblue;
  text-decoration: none;
}
body{
  display: flex;
  flex-wrap: wrap;
}


.div1{
  display: flex;
  flex-wrap: wrap;
padding: 10px;
  align-items: center;
  width: 1470px;
  height: 90px;
  background-color:yellow;
 
}

#hity{
  margin: 10px;
  align-items: center;
  padding-left: 10px;
  margin-top: 18px;
}
#hity2{
  color: skyblue;
  font-size: 28px;
  text-align: center;
  margin-right: 50px;
}

h2{
  color: black;
  text-align: left;
}
#image{
  width: 60px;
  height: 60px;
}
.div2{
  background-color:skyblue;
  width: 1470px;
  height:550px;
  text-align: center;
  justify-content: center;
  padding: 10px;
}





@media(max-width:1160px)
{.image{
  width: 160px;
  height: 250px;
}
#div3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  padding-bottom: 50px;
  padding-left: 8px;
  padding-right: 8px;
  
}
#text{
  width: 50%;
  height: auto;
  color: navy;
  font-size: 19px;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto auto 20px auto;
 
}
.div2{
  background-color:skyblue;
  width: 1470px;
  height:500px;
  text-align: center;
  justify-content: center;
}
.div2>h1{
  color: blue;
  text-align: center;
  font-size:25px;
}
}
@media(min-width:1160px){.image{
  width: 275px;
  height: 300px;
}
  #div3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding-top: 150px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
  }
  #text{
    margin: auto;
    width: 50%;
    height: auto;
    text-align: center;
    color: navy;
    justify-content: center;
    align-items: center;
   
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }

  .div2>h1{
    color: blue;
    text-align: center;
    font-size:25px;
  }
  .div2{
    background-color:skyblue;
    width: 1470px;
    height:700px;
    text-align: center;
    justify-content: center;
  }
}